body{
    width: 30%;
    margin: auto;
    margin-top: 5%;
    padding: 12px;

    background: #D98426;

    font-family: monospace;
    font-family: 'Courier New', Courier, monospace;

    /* Temp */
    /* border: outset; */
}

.container{
    width: 100%;
    margin: auto;

    background-color: #1321AB;
    padding: 12px; 

    border-radius: 14px;
    /* border: outset; */
}

h1{
    margin: auto;
    margin-left: 12px;
    padding-bottom: 4px;

    font-size: 36px;
}

#inputField{
    width: 80%;
    height: 40px;
    margin: auto;
    margin-left: 5px;

    border-radius: 30px;

    opacity: 80%;

    font-size: 16px;
    text-indent: 24px;
    
    /* border: auto; */
}

#addToDo{
    height: 30px;
    width:16%;
    margin: auto;
    
    border-radius: 30px;
    /* border: auto; */
}

.toDos{
    width: 60%;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;

    /* border: outset; */
}

p{
    width: 80%;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 12px;

    border-radius: 30px;
    background-color: #8B8010;

    border: solid;
    cursor: pointer;

    font-size: 14px;
}

/* Back to menu */
h4{
    font-size: 20px;
    width: 10%;
    text-align: center;
    padding: 12px;
    border: solid 3px;
    border-radius: 30px;
    background-color: #1321AB;

    margin-left: -100%;
    margin-top: -10%;
    width: 30%;
}
a{
    color: black;
}